:root {
    --maincolor: #939393;
  }
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.content main{
    display: inline-block;
}

.content footer{
    display: inline-block;
}
.selected{
    fill: red !important;
}

.normal{
    fill: #bebebe;
}

.title{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.01px;
    font-size: 60px;
}

#header {
    display: grid;
    grid-template-columns: 15% auto 15%;
}

#header *{
    display: inline-block;
}

#subtitle {
    color: #bebebe;
}

.data{
    background-color: #DEDEDE;
    border-radius: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;

}

.data *{
    display: inline-block;
}

.amount {
    margin-top: 10px;
    grid-column: 1 / span 2;
    width: 150px;
    height: 40px;
    border-radius: 20%;
}

.picutre {
    grid-column: 3 / span 2;
    max-height: 150px;
    max-width: 250px;
    /*width:100%;*/
}

.title.name {
    grid-column: 1 / span 3;
    font-size: 40px;
    margin-bottom: 10px;
    margin-left:10px;
    color: #bebebe;
}

.title.price {
    font-size: 40px;
    margin-bottom: 10px;
    color: #bebebe;
}

.discount label{
    display: block;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.01px;
    font-size: 30px;
    color: #bebebe;
    font-weight: bolder;
}

.discount input{
    background-color: #bebebe;
    border-radius: 10px;
    color: orangered;
    height: 80px;
    font-size: 40px;
    width: 90%;
}

.discount input::placeholder{
    color: orangered;
    text-align: right;
    font-size: 40px;
}

.total{

}

.total *{
    display: inline-block;
}

.total label{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.01px;
    font-size: 30px;
    color: #bebebe;
    font-weight: bolder;
}

.total input{
    background-color: #bebebe;
    border-radius: 10px;
    color: orangered;
    height: 80px;
    font-size: 40px;
    width: 85%;
}

.checkout{
    background-color: orangered;
    color: white;
    width: 90%;
    height: 80px;
    border-radius: 10px;   
    border: none;
    transition: background-color 2s;
}

.checkout:focus{
    background-color: maroon;
}

.nav li{
    display: inline-block;
}

.nav li:first-child{

}

svg {
    width:20vw;
}

@media only screen and (min-width : 1025px) {
    .data{

        grid-template-columns: auto auto auto auto;
        grid-template-rows: 100%;
        margin-top: 40px;
        width: 90%;
        height: 100px;
    }

    .amount {
        grid-column: 1;
        width: 80%;
        margin-left: 10px;
        max-height: 100px;
        max-width: 200px;
        border-radius: 30px;
    }
    
    .picutre {
        grid-column: 2;
        max-height: 100px;
    }
    
    .title.name {
        grid-column: 3;
        font-size: 30px;
        margin-top: 10px;
        color: #bebebe;
    }
    
    .title.price {
        grid-column: 4;
        font-size: 40px;
        margin-top: 10px;
        color: #bebebe;
    }

    .discount {
        margin-top: 100px;
    }

    .total {

        margin-top: 50px;
    }

    #check {
        margin-top: 50px;
    }
 }
